main {
  .hidden_img {
    display: none;
  }
  section {
    .container {
      position: relative;
      @extend %flex_column;
      h2 {
        color: $blue;
      }  
    }
  }
  .we_are {
    .description {
      width: 70%;
      padding: 50 0;
      p {
        text-align: center
      }
    }
    .card_block {
      @extend %flex_line;
      align-items: flex-start;
      margin: 60px 0 100px 0;
      .card {
        width: 22%;
      }
    }
  }
  .what_we_do {
    background-color: $green-light;
    .card_block {
      @extend %flex_line;
      flex-wrap: wrap;
      margin: 100px 0 130px 0;
      .card {
        width: 30%;
        @extend %flex_column;
        margin: 40px 0 40px 0;
        .image_block_card {
          height: 160px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .description_card {
          max-width: 300px;
          p {
            text-align: center
          }
        }
      }
    }
  }
  .technologies, .our_expertise {
    .card_block {
      width: 100%;
      @extend %flex_line;
      flex-wrap: wrap;
      align-items: flex-start;
      margin: 60px 0 60px 0;
      .card {
        width: 13%;
        @extend %flex_column;
        .image_block_card {
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .our_services {
    position: relative;
    background-image: url("../assets/images/main/back_our_services.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .background {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 500px;
      background-color: $green-light;
      z-index: -2;
    }
    .container h2 {
      color: $green-light
    }
    .description {
      @extend %flex_line;
      .img_section {
        width: 45%;
        img {
          width: 100%;
        }
      }
      .description_section {
        width: 45%;
        ul {
          width: 100%;
          margin: 70px 0 70px 0;
          li {
            @extend %flex_line;
            margin: 30px 0 30px 0;
            .item {
              font-family: "Montserrat-Bold";
              @extend %flex_line;
              justify-content: flex-start;
              border-radius: 100px;
              border: 1px solid $blue;
              background-color: $green-light;
              width: 600px;
              margin-right: 50px;
              .number {
                color: #3dc7c9;
                background-color: #fff;
                border: 1px solid $green-light;
                border-radius: 150px;
                height: 60px;
                width: 60px;
                @extend %flex_line;
                p {
                  margin: auto;
                }         
              }
              h3 {
                color: $blue;
              }
            }
            .description_item{
              color: white;
            }
          }
        }
      }
    }
  }
  .how_we_work {
    background-color: $green-light;
    .description_for_mobile {
      display: none
    }
    .description_for_desktop {
      @extend %flex_line;
      align-items: flex-start;
      .description_section {
        width: 40%;
        @extend %flex_column;
        justify-content: flex-start;
        ul li {
          height: 210px;
          @extend %flex_column;
          justify-content: flex-start;
          align-items: flex-start;
        }
      }
      .left_block {
        margin-top: 107px;
        ul li {  
          align-items: flex-end;
          .description {
            text-align: end;
          }
        }
      }
      .img_section {
        margin-top: 24px;
      }
    }
  }
  .lets_start {
    font-size: 15px;
    .row {
      @extend %flex_line;
      h2 {
        width: 650px;
      }
      .mail_block {
        @extend %flex_line;
        img{
          width: 23px;
          margin: 5px;
        }
      }
    }
    form {
      width: 100%;
      list-style: unset;
      .row_form{
        width: 100%;
        @extend %flex_line;
        margin: 30px 0;
        .form-control {
          width: 30%;
          list-style:unset;
        }
        input{
          list-style: unset;
          color: $green;
          font-size: 19px;
          border: none;
          border-bottom: 2px solid $green;
          height: 50px;
          outline: none;
        }
        input:focus {
          border-color:$blue;
        }
      }
      .btn_green {
        display: flex;
        margin: 0 auto;
      }
      .blank {
        width: 50%;
      }
      .load_file {
        @extend %flex_line;
        justify-content: flex-start;
        width: 40%;
        img {
          margin: 5px;
        }
      }
    }
  }
}

@media screen and (min-width:1000px) {
  main {
    .hidden_img {
      display: block;
      position: absolute;
    }
    .hidd1 {
      top: 60px;
      left: -230px;
    }
    .hidd2 {
      bottom: 60px;
      right: -230px;
    }
    .hidd3 {
      top: 110px;
      left: -230px;
    }
    .hidd4 {
      top: 60px;
      right: -230px;
    }
    .hidd5 {
      top: 60px;
      left: -230px;
    }
    .hidd6 {
      bottom: 20px;
      right: 450px;
      z-index: 5;
    }
    .hidd7 {
      bottom: 20px;
      right: -250px;
    }
  } 
}

@media screen and (max-width:1000px) {
  main {
    .we_are {
      .card_block {
        width: 90%;
        margin: 30px 0 50px 0;
        flex-wrap: wrap;
        .card {
          width: 40%;
        }
      }
    }
    .what_we_do {    
      .card_block {
        flex-wrap: wrap;
        margin: 10px 0 60px 0;
        .card {
          width: 45%;
        }
      }
    }
    .technologies{
      .card_block {
        width: 100%;
        justify-content: space-around;
        .card {
          width: 30%;
        }
      }
    }
    .our_expertise {
      .container{
        padding-top: 0;
      }
      .card_block {
        width: 100%;
        justify-content: space-around;
        .card {
          width: 45%;
        }
      }
    }
    .our_services {
      background-image: url("../assets/images/main/back_our_services.png");
      .description {
        flex-direction: column;
        .img_section {
          width: 85%;
        }
        .description_section {
          width: 90%;
        }
      }
    }
    .how_we_work {
      .description_for_desktop {
        display: none;
      }
      .description_for_mobile{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        .img_section {
          width: 20%;
          text-align: center;
          img {
            margin-top: 20;
          }
        } 
        .description_section {
          width: 80%;
          ul {
            li {
            font-size: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            }
            li:nth-child(1) { 
              height: 242px;
            }  
            li:nth-child(2) { 
              height: 139px;
            }  
            li:nth-child(3) { 
              height: 224px;
            }  
            li:nth-child(4) { 
              height: 160px;
            }  
            li:nth-child(5) { 
              height: 180px;
            }  
            li:nth-child(6) { 
              height: 190px;
            }           
          }
        }               
      }
    }
    .lets_start {
      .row {
        flex-direction: column;
        align-items: center;
        h2 {
          width: unset;
        }
        .description {
          width: 55%;
          margin: 15px auto 40px auto;
        }
      }
      form {
        .row_form{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin: 0;
          .form-control {
            width: 80%;  
          }
        }
        .row_for_mobile {
          flex-direction: row;
          justify-content: space-between;
          margin: 0 auto 03 auto;
          width: 80%;  
        }
        .blank {
          display: none;
        }
        .load_file {
          justify-content: flex-start; 
        }
      }
    }
  }
}

@media screen and (max-width:650px) {
  main {
    .we_are {
      .card_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        .card {
          width: 90%;
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .description_card {
            p {
              text-align: center;
            }
          }
        }
      }
    }
    .what_we_do {    
      .card_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        .card {
          width: 90%;
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
    .technologies{
      .container{
        padding-bottom: 0;
      }
      
    }
    .our_expertise {
      .container{
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    .our_services {   
      .description {  
        .description_section {   
          ul li {
            flex-direction: column;
            .item{
              width: 90%;
              margin-right: 0;
              margin-bottom: 8px;
            }
            .description_item {
              text-align: center;
            }
          }
        }
      }
    }
    .lets_start {
      .row {
        flex-direction: column;
        align-items: center;
        h2 {
          width: unset;
        }
        .description {
          width: 55%;
          margin: 15px auto 40px auto;
        }
      }
      form {
        .row_form{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin: 0;
          .form-control {
            width: 80%;  
          }
        }
        .row_for_mobile {
          flex-direction: row;
          justify-content: space-between;
          margin: 0 auto 03 auto;
          width: 80%;  
        }
        .blank {
          display: none;
        }
        .load_file {
          justify-content: flex-start; 
        }
      }
    }
  }
}